<main>
  <h1>MAIN APP</h1>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo dolores unde deleniti eligendi alias culpa quae nulla qui nemo? Dolorem, eum exercitationem laudantium incidunt vero minima earum, commodi consequatur temporibus ullam ipsum sunt deserunt natus animi expedita. Eveniet adipisci saepe vero et temporibus quod consequuntur expedita. Similique unde fugiat rem error explicabo nesciunt magnam,
     perspiciatis ducimus laboriosam molestias voluptatum doloremque! Necessitatibus, 
     illo unde excepturi laborum eius nemo voluptas debitis blanditiis! 
     Error vero quia voluptas ipsum, voluptatum natus exercitationem alias unde, 
     quaerat nulla ad adipisci amet eaque deserunt ducimus? Incidunt cum eius fugit minus labore dolorem,
      vero veritatis a accusamus suscipit.</p>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo dolores unde deleniti eligendi alias culpa quae nulla qui nemo? Dolorem, eum exercitationem laudantium incidunt vero minima earum, commodi consequatur temporibus ullam ipsum sunt deserunt natus animi expedita. Eveniet adipisci saepe vero et temporibus quod consequuntur expedita. Similique unde fugiat rem error explicabo nesciunt magnam,
     perspiciatis ducimus laboriosam molestias voluptatum doloremque! Necessitatibus, 
     illo unde excepturi laborum eius nemo voluptas debitis blanditiis! 
     Error vero quia voluptas ipsum, voluptatum natus exercitationem alias unde, 
     quaerat nulla ad adipisci amet eaque deserunt ducimus? Incidunt cum eius fugit minus labore dolorem,
      vero veritatis a accusamus suscipit.</p>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo dolores unde deleniti eligendi alias culpa quae nulla qui nemo? Dolorem, eum exercitationem laudantium incidunt vero minima earum, commodi consequatur temporibus ullam ipsum sunt deserunt natus animi expedita. Eveniet adipisci saepe vero et temporibus quod consequuntur expedita. Similique unde fugiat rem error explicabo nesciunt magnam,
     perspiciatis ducimus laboriosam molestias voluptatum doloremque! Necessitatibus, 
     illo unde excepturi laborum eius nemo voluptas debitis blanditiis! 
     Error vero quia voluptas ipsum, voluptatum natus exercitationem alias unde, 
     quaerat nulla ad adipisci amet eaque deserunt ducimus? Incidunt cum eius fugit minus labore dolorem,
      vero veritatis a accusamus suscipit.</p>  
      
</main>